    body {
        position: relative;
        min-width: 1024px;
        padding-top: 75px;
        padding-bottom: 46px;
    }
    
    .grpelem {
        display: inline;
        float: left;
    }
    
    .clearfix:after
    /* force a container to fit around floated items */
    
    {
        content: "\0020";
        visibility: hidden;
        display: block;
        height: 0;
        clear: both;
    }
    
    #kart {
        z-index: 177;
        width: 565px;
        background-color: transparent;
        position: relative;
        margin-right: -10000px;
        margin-top: 111px;
        left: 261px;
    }
    
    #kart2 {
        z-index: 179;
        width: 866px;
        background-color: transparent;
        opacity: 0;
        position: relative;
        margin-right: -10000px;
    }
    
    col {
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 30px;
        background-color: rgb(227, 227, 227);
    }
    
    .col-6 {
        width: 366px;
        height: 474px;
        float: left;
    }
    
    .col-8 {
        width: 498px;
        height: 474px;
        float: left;
    }
    
    .col-4 {
        width: 234px;
        height: 474px;
        float: left;
    }
    
    .img-responsive {
        width: 100%;
        height: 50%;
    }
    
    body {
        background-color: rgb(220, 220, 220);
    }
    
    #buttons {
        margin-left: 950px;
    }
    
    #container {
        width: 1024px;
        margin: auto;
    }
    
    @media screen and (max-width: 800px) {
        #mainHeader {
            width: auto;
        }
        #container {
            width: auto;
        }
        .col-4,
        .col-6,
        .col-8,
        .col-12 {
            width: auto;
            height: auto;
            float: none;
        }
    }
    /*step: Tablet*/
    
    @media screen and (min-width: 800px) {}
